.form-wrapper{
    background-color: white;
    border-radius: 10px;
    padding: 50px;
    text-align: center;
}

.form-wrapper h3{
    font-size: 28px;
}

.form-layout.line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}